$desider-blue: #0066c9;
$desider-green: #00944f;
$desider-yellow: #fda500;
$desider-purple: #870058ff;
$desider-orange: #f46810ff;
$desider-red: #ea2b1fff;
$desider-off-purple: #443391ff;
$desider-off-blue: #007d8cff;

$desider-box-shadow: 0px 0px 2px 2px lightgray !important;

/* SCSS HEX */
$pansy-purple: #870058ff;
$blue-pigment: #443391ff;
$true-blue: #0066c9ff;
$metallic-seaweed: #007d8cff;
$spanish-green: #00944fff;
$chrome-yellow: #fda500ff;
$safety-orange-blaze-orange: #f46810ff;
$red-pigment: #ea2b1fff;