.body-div-mb {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100% !important;
    margin-left: 0% !important;
    margin-right: 0% !important;
    margin-top: 40px !important;
    box-shadow: 0 0 0 transparent !important;

}